.head-bg{
	height:115px;
	background:#222222;
	justify-content: center;
	width:100%;
}

.head-content-box{
	width:1170px;
	height:100%;
	margin:auto;
	line-height: 115px;
}

.head-content-item{
	display:inline-block;
	height:100%;
	line-height: 115px;
}

.align-left{
	float:left;
}

.align-right{
	float:right;
}


.logo{
	width:64px;
	height:74px;
	margin-top:20px;
}

.main-title{
	font-size: 30px;
	color:white;
	font-style: bold;
	padding-left:10px;
	padding-right:10px;
}

.head-item-text{
	font-size:20px;
	font-style: bold;
	color:white;
}

.padding-left-15{
	padding-left:18px;
}

.padding-right-15{
	padding-right:18px;
}


.inline-block{
	display: inline-block;
	margin:0;
	padding:0;
}


.show-border{
	border:1px solid red;
}


.head-item-text a{
	color:white;
	-o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  /* ...and now for the proper property */
  transition:color .2s ease-out, background 2s ease-in;
}

.head-item-text a:link{
	color:white;
	text-decoration:none;
}

.head-item-text a:visited{
	color:white;
	text-decoration:none;
}

.head-item-text a:hover{
	color:#8EAAAF;
	cursor:pointer;
	text-decoration:none;
}

.head-item-text a:active{
	color:white;
	text-decoration:none;
}




.des-bg{
	background: #F8F8FF;
	height:592px;
	justify-content: center;
	width:100%;
	border:1px solid red;
}

.des-content-box{
	width:1170px;
	height:100%;
	margin:auto;
	line-height: 592px;
	border:1px solid yellow;
}




.city-bg{
	justify-content: center;
	width:100%;
	border:1px solid red;
}


.city-content-box{
	width:1170px;
	height:100%;
	margin:auto;
	border:1px solid yellow;
}


.city-item{
	border:1px solid #DCDCDC;
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
	margin-bottom: 10px;
}


.city-item-title{
	margin-bottom: 10px;
	margin-top: 20px;
	font-size:24px;
}


.city-item div{
	height:60px;
	line-height: 60px;
	display: inline-block;
	float:left;
}


/* city name */
.city-item div:nth-child(1){
	width:130px;
	border-right: 1px solid #DCDCDC;
}

/* city bet address */
.city-item div:nth-child(2){
	width:450px;
	border-right: 1px solid #DCDCDC;
}

/* city bet count */
.city-item div:nth-child(3){
	width:145px;
	border-right: 1px solid #DCDCDC;
}

/* city bet amount */
.city-item div:nth-child(4){
	width:145px;
	border-right: 1px solid #DCDCDC;
}

/* city bet count percentage */
.city-item div:nth-child(5){
	width:145px;
	border-right: 1px solid #DCDCDC;
}

/* city bet amount percentage */
.city-item div:nth-child(6){
	width:145px;
}



