
.index-head-bg{
	height:115px;
	background:#222222;
	justify-content: center;
	width:100%;
}

.index-head-content{
	width:1170px;
	height:100%;
	margin:auto;
	line-height: 115px;
	/*border:1px solid red;*/
}

.head-content-item{
	display:inline-block;
	height:100%;
	line-height: 115px;
}

.align-left{
	float:left;
}

.align-right{
	float:right;
}


.logo{
	width:64px;
	height:74px;
	margin-top:20px;
}

.main-title{
	font-size: 30px;
	color:white;
	font-style: bold;
	padding-left:10px;
	padding-right:10px;
}

.head-item-text{
	font-size:20px;
	font-style: bold;
	color:white;
}

.padding-left-15{
	padding-left:18px;
}

.padding-right-15{
	padding-right:18px;
}


.inline-block{
	display: inline-block;
	margin:0;
	padding:0;
}


.show-border{
	border:1px solid red;
}

.head-item-text a{
	color:white;
	-o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  /* ...and now for the proper property */
  transition:color .2s ease-out, background 2s ease-in;
}

.head-item-text a:link{
	color:white;
	text-decoration:none;
}

.head-item-text a:visited{
	color:white;
	text-decoration:none;
}

.head-item-text a:hover{
	color:#8EAAAF;
	cursor:pointer;
	text-decoration:none;
}

.head-item-text a:active{
	color:white;
	text-decoration:none;
}







.content-box{
	width:1270px;
	margin:auto;
}


/* --------------------------------------------------------------------------- */
.block-info{
	text-align:center;
	margin-top:100px;
	background:#FAFAFA;
	padding-top:30px;
	padding-bottom: 30px;
}

.block-info div:nth-child(1){
	font-size:40px;
}

.block-info-item{
	margin-top:5px;
	font-size:20px;
}

.block-info-item span{
	font-weight: bold;
}


.block-bets-box{
	width:1270px;
	margin-top:100px;
	margin-bottom:50px;
	min-height: 300px;
}

.block-bets-header{
	border-radius:5px;
	-moz-border-radius:25px; /* 老的 Firefox */
	/*border:2px solid #a1a1a1;*/

	margin-top:10px;
	background:#FAFAFA;
}

.bet-header-title{
	display:inline-block;
	text-align: center;
	font-size:15px;
	font-weight: bold;
	margin-right:10px;
}

.bet-content-item{
	display:inline-block;
	text-align: center;
	font-size:14px;
	margin-right:10px;
}

.bet-number{
	width:80px;
}

.bet-result{
	width:60px;
}

.bet-devil{
	width:80px;
}

.bet-amount{
	width:90px;
}

.bet-reward{
	width:90px;
}

.join-txid{
	width:120px;
}

.pay-txid{
	width:120px;
}

.join-time{
	width:160px;
}

.player-address{
	width:330px;
}

.block-bets{
	margin-top:15px;
}

.block-bet{
	border-radius:5px;
	-moz-border-radius:25px;
	margin-top:10px;
	background:#FAFAFA;
}
/* --------------------------------------------------------------------------- */





.index-footer{
	height:180px;
	background:#222222;
	justify-content: center;
	width:100%;
}

.index-footer-community{
	width:300px;
	margin:auto;
	height:30px;
	padding-top:15px;
	text-align:center;
}

.index-footer-logo{
	width:260px;
	margin:auto;
	height:60px;
	margin-top:5px;
}

.index-footer-logo div:nth-child(1){
	display:inline-block;
	height:60px;
	line-height:60px;
	float:left;
}


.index-footer-logo div:nth-child(2){
	display:inline-block;
	height:60px;
	line-height:60px;
	float:left;
	color:white;
	margin-left:0px;
	width:200px;
	text-align: center;
	font-size: 24px;
	margin-top:5px;
}


.index-footer-logo img{
	width:43px;
	height:50px;
	margin-top:10px;
}



.index-footer-copyright{
	width:300px;
	margin:auto;
	height:20px;
	text-align: center;
	color:white;
	font-size: 14px;
}

.index-footer-contact{
	width:800px;
	margin:auto;
	height:30px;
	font-size: 14px;
	color:white;
	text-align: center;
	line-height: 30px;
	margin-top:10px;
}

.index-footer-contact a{
	color:#8FAAAF;
}

.index-footer-contact a:link{
	color:#8FAAAF;
}
