
.index-head-bg{
	height:115px;
	background:#222222;
	justify-content: center;
	width:100%;
}

.index-head-content{
	width:1170px;
	height:100%;
	margin:auto;
	line-height: 115px;
	/*border:1px solid red;*/
}

.head-content-item{
	display:inline-block;
	height:100%;
	line-height: 115px;
}

.align-left{
	float:left;
}

.align-right{
	float:right;
}


.logo{
	width:64px;
	height:74px;
	margin-top:20px;
}

.main-title{
	font-size: 30px;
	color:white;
	font-style: bold;
	padding-left:10px;
	padding-right:10px;
}

.head-item-text{
	font-size:20px;
	font-style: bold;
	color:white;
}

.padding-left-15{
	padding-left:18px;
}

.padding-right-15{
	padding-right:18px;
}


.inline-block{
	display: inline-block;
	margin:0;
	padding:0;
}


.show-border{
	border:1px solid red;
}

.head-item-text a{
	color:white;
	-o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  /* ...and now for the proper property */
  transition:color .2s ease-out, background 2s ease-in;
}

.head-item-text a:link{
	color:white;
	text-decoration:none;
}

.head-item-text a:visited{
	color:white;
	text-decoration:none;
}

.head-item-text a:hover{
	color:#8EAAAF;
	cursor:pointer;
	text-decoration:none;
}

.head-item-text a:active{
	color:white;
	text-decoration:none;
}


.banner-box{
	width:100%;
	height:300px;

/*
	background:url("../images/banner1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	*/
}


.index-des-box{
	width:1170px;
	height:300px;
	margin:auto;
}

.index-des-main1 {
	/*border: 1px solid red;*/
	height:40px;
	margin-top:64px;
	padding-left:370px;
	padding-right:370px;
	text-align: center;
	font-size: 24px;
}

.index-des-main2{
	height:40px;
	text-align: center;
	font-size: 30px;
	color:black;
	font-weight: bold;
}



.index-des-story{
	/*border:1px solid red;*/
	margin-top:64px;
	padding-left:250px;
	padding-right:250px;
	text-align: center;
	font-size: 14px;
	height:90px;
}





.index-block-bg{
	width:100%;
	height:400px;
	background: #F5F5F5;
}

.index-block-box{
	width:1170px;
	height:400px;
	margin:auto;
	/*border:1px solid red;*/
}

.index-block-left{
	display:inline-block;
	width:512px;
	height:400px;
	float:left;
	/*border: 1px solid red;*/
}

.index-block-right{
	display:inline-block;
	width:480;
	height:400px;
	float:right;
	/*border: 1px solid red;*/

}


.index-block-left div:nth-child(1){
	margin-top:40px;
	font-size:26px;
	font-weight: bold;
}

.index-block-left div:nth-child(2){
	margin-top:20px;
	font-size:18px;
	font-weight: bold;
}

.index-block-left div:nth-child(3){
	margin-top:5px;
	font-size:18px;
	font-weight: bold;
}

.index-block-left div:nth-child(4){
	margin-top:30px;
	font-size:18px;
	font-weight: bold;
}

.index-block-left div:nth-child(4) a:visited{
	color:blue;
}

.index-block-left div:nth-child(5){
	margin-top: 10px;
	font-size:14px;
}

.index-block-left div:nth-child(6){
	margin-top:5px;
	font-size:14px;
}

.index-block-left div:nth-child(7){
	margin-top:5px;
	font-size:14px;
}

.index-block-left div:nth-child(8){
	margin-top:5px;
	font-size:14px;
}

.index-block-left div:nth-child(9){
	margin-top:40px;
}


.index-block-box-tobuy{
	font-size:18px;
	color:blue;
	font-weight: bold;
}

.index-block-box-history{
	font-size:18px;
	color: blue;
	font-weight: bold;
}


.index-block-box-tobuy a:visited{
	color:blue;
}

.index-block-box-history a:visited{
	color:blue;
}


.block-right-01{
	height:50px;
	/*border:1px solid red;*/
	width:450px;
	font-size: 15px;
	margin-top:20px;
	font-style:bold;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	margin-top:20px;
}

.block-right-02{
	height:50px;
	/*border:1px solid red;*/
	width:450px;
	font-size: 18px;
	margin-top:25px;
	font-weight: bold;
}

.block-right-03{
	height:50px;
	/*border:1px solid red;*/
	width:450px;
	font-size: 18px;
	margin-top:25px;
	font-weight: bold;
}

.block-right-04{
	height:50px;
	/*border:1px solid red;*/
	width:450px;
	font-size: 18px;
	margin-top:25px;
	font-weight: bold;
}

.block-right-05{
	height:50px;
	/*border:1px solid red;*/
	width:450px;
	font-size: 18px;
	margin-top:25px;
	font-weight: bold;
}



.bet-title-box{
	/*border:1px solid blue;*/
	height:100px;
	width:1170px;
	margin:auto;
	margin-top:50px;
}

.bet-title-01{
	font-size:28px;
	text-align: center;
	width:1170px;
}

.bet-title-02{
	font-size:18px;
	color:red;
	text-align: center;
	margin-top:20px;
	font-weight: bold;
}


.bet-level-box{
	width:1170px;
	margin:auto;
	margin-top:50px;
	margin-bottom: 50px;
}

.bet-level-box a:visited{
	color:black;
}


.bet-level-item{
	display:inline-block;
	text-align: center;
	width:300px;
	font-size:24px;
	background: white;
	height:50px;
	line-height:50px;
	border:1px solid lightgray;
}

.bet-level-item-margin-right-125{
	margin-right:125px;
}


.bet-level-item-selected{
	color:blue;
	background: lightgray;
}


.bet-number-box{
	width:1170px;
	margin:auto;
	margin-top:50px;
	margin-bottom:40px;
}

.bet-number-item-title{
	width:100%;
	height:40px;
	font-weight: bold;
	text-align: center;
	font-size:18px;
	margin-bottom:20px;
}


.bet-number-item{
	width:100%;
	height:50px;
	text-align:center;
	font-size:18px;
	font-weight: bold;
	background:#FAFAFA;
	margin-top:10px;
	border:1px solid lightgray;
}

.bet-number-item div:nth-child(1){
	font-size:36px;
}

.bet-number-item div:nth-child(2){
	line-height:30px;
	vertical-align: top;
	margin-top:10px;
}

.bet-number-item div:nth-child(3){
	line-height:30px;
	vertical-align: top;
	margin-top:10px;
}

.bet-number-item div:nth-child(4){
	line-height:30px;
	vertical-align: top;
	margin-top:10px;
}

.bet-number-item div:nth-child(5){
	line-height:30px;
	vertical-align: top;
	margin-top:10px;
}



.item-bet-number{
	width:100px;
	display:inline-block;
}



.item-bet-address{
	width:430px;
	display:inline-block;
}

.item-bet-all-count{
	width:200px;
	display:inline-block;
}

.item-bet-all-money{
	width:200px;
	display:inline-block;
}

.item-bet-win-count{
	width:200px;
	display:inline-block;
}



.bet-devil-box{
	width:1170px;
	margin:auto;
	margin-top:70px;
	height:850px;
	/*border:1px solid blue;*/
}

.bet-devil-left{
	display:inline-block;
	width:512px;
	float:left;
	/*border:1px solid blue;*/
}

.bet-devil-right{
	display:inline-block;
	width:512;
	float:right;
	/*border:1px solid blue;*/

}


.devil-item{
	width:512px;
	height:130px;
	/*border:1px solid blue;*/
	margin-bottom:30px;
	font-size: 14px;
}


.devil-logo{
	width:120px;
	height:120px;
	/*border:1px solid blue;*/
	display:inline-block;
	float:left;
}


.devil-info{
	margin-top:10px;
	width:380px;
	height:120px;
	display:inline-block;
	float:right;
}


.devil-name{
	width:380px;
}

.devil-count-value{
	margin-top:5px;
}


.devil-count{
	width:180px;
	display: inline-block;
	float:left;
}

.devil-value{
	width:180px;
	display: inline-block;
	float:right;
}

.devil-count-value-percentage{
	margin-top:35px;
}

.devil-count-percentage{
	width:180px;
	display: inline-block;
	float:left;
}

.devil-value-percentage{
	width:180px;
	display:inline-block;
	float:right;
}

.devil-bet-address{
	margin-top:65px;
	font-weight: bold;
}





.index-footer{
	height:180px;
	background:#222222;
	justify-content: center;
	width:100%;
}

.index-footer-community{
	width:300px;
	margin:auto;
	height:30px;
	padding-top:15px;
	text-align:center;
}

.index-footer-logo{
	width:260px;
	margin:auto;
	height:60px;
	margin-top:5px;
}

.index-footer-logo div:nth-child(1){
	display:inline-block;
	height:60px;
	line-height:60px;
	float:left;
}


.index-footer-logo div:nth-child(2){
	display:inline-block;
	height:60px;
	line-height:60px;
	float:left;
	color:white;
	margin-left:0px;
	width:200px;
	text-align: center;
	font-size: 24px;
	margin-top:5px;
}


.index-footer-logo img{
	width:43px;
	height:50px;
	margin-top:10px;
}



.index-footer-copyright{
	width:300px;
	margin:auto;
	height:20px;
	text-align: center;
	color:white;
	font-size: 14px;
}

.index-footer-contact{
	width:800px;
	margin:auto;
	height:30px;
	font-size: 14px;
	color:white;
	text-align: center;
	line-height: 30px;
	margin-top:10px;
}

.index-footer-contact a{
	color:#8FAAAF;
}

.index-footer-contact a:link{
	color:#8FAAAF;
}
